<!DOCTYPE HTML>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Type some info">
    <meta name="author" content="Type name">

    <title>{% block title %}{% endblock %} | Art Finder</title>

    <link href="{% static 'css/fontawesome/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css" />

</head>

<body>

    {% include 'partials/_navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'partials/_footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        window.onload = (event)=> {
            let myAlert = document.querySelector('.toast');
            let bsAlert = new bootstrap.Toast(myAlert);
            bsAlert.show();
        }
    </script>
    {% block scripts %}{% endblock %}
    
</body>
</html>